<!DOCTYPE html>
<html
><head
  ><meta charset="UTF-8"
  ><link rel="stylesheet" type="text/css" href="/css/default.css"
  ><title>$title$ bmillwood.github.io</title
></head
><body><div id="content"
><h1>$title$</h1
>$body$</div></body
></html>
